*{
    margin: 0;
    padding: 0;
}
body{
    background: url(img/fondo.jpg);
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header,footer, .main{
    background: #cccccc;;
    width:90%;
    max-width: 1000px;
    margin:20px auto;
}
header nav{
    background: crimson;
    overflow: hidden;
}
header nav ul{
    list-style: none;
    border-radius: 10px;
}
header nav ul li{
    float: left;
}
article{
    margin: 20px;
}
header nav ul li a{
    padding: 10px 20px;
    display:block;
    color: white;
    text-decoration: none;
}
header nav ul li a:hover{
    background:#CD5C5C;
    border-radius: 10px;
}
.logo{
    align-items: center;
    padding: 10px;
    display: block;
    width: 600px;
    height: 200px;
    position: center;
}
.imagen{
    align-items: center;
    padding: 10px;
    display:inline-block;
    width: 800px;
    height: 200px;
    position: center;
}
p,h2{
    padding: 10px;
}
.platos{
    display: inline-block;
    background: #CD5C5C;
    border-radius: 3px;
    border:2px solid #000;
}
table{
    border: 2px solid #000;
    border-collapse: collapse;
}
table tr{
    border: 2px solid #000;
    border-collapse: collapse;
}
table td{
    border: 2px solid #000;
    border-collapse: collapse;
}
table td:hover{
    background: #cccccc;
}
.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
    display: flex;
}
.store-wrapper{

    display: flex;
    margin: 20px;
}
.category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
    
}
.products-list{
    width: 82%;
    display: flex;
    
}
.category_list .category_item{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #E84C3d;

    text-align: center;
    text-decoration: none;
    color: #fff;
}
.products-list .product-item{
    width: 22%;
    margin-left: 3%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.22);

    display: flex;
    flex-direction: column;
}
.products-list .product-item img{
    width: 100%;
} 
.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2d3e50;

    color: #fff;
    text-align: center;
    text-decoration: none;
} 
.error{
    color: red;
}