section form{
    width: 25%;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
}
input{
    margin-bottom: 20px;
    width:100%;
    padding: 10px;  
}
input:focus{
    border: 1px solid #1664c4;
}
input[type="submit"]{
    margin-bottom: none;
    color: #fff;
    border: none;
    background: #1668c4;
}
input[type="submit"]:hover{
    background: #4a88f4;
    cursor:pointer;
}
